.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}


body {
    overflow-x: hidden;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

.main_btn {
    background-color: #FB9333;
    border: none;
    border-radius: 100px;
    padding: 18px 38px;
    color: #FFF;
    font-weight: 600;
    font-size: 0.8rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
mark{
    background-color: transparent;
    color: #FB9333;
}

.header_top {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    position: absolute;
    width: 80%;
    margin: 20px 10% 0 10%;
}
    .header_top__menu {
        padding-top: 10px;
    }
        .header_top__menu a {
            padding: 0 15px;
            text-decoration: none;
            color: #575757;
            font-weight: 500;
            font-size: 0.9rem;
        }
            .header_top__menu a.active {
                color: #FB9300;
                font-weight: 700;
            }

.header {
    height: 769px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../img/header_bg.svg");
    background-size: cover;
    padding: 150px 10% 0 10%;
}
    .header__text_btn{
        background-color: #FFF0DC;
        border: none;
        border-radius: 100px;
        padding: 14px 38px;
        color: #FB9333;
        font-weight: 600;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    .header__text h1 {
        font-size: 4rem;
        line-height: 130%;
        color:#575757; 
        margin: 30px 0;
    }
    .header__text p {
        margin: 0 0 30px 0;
        color: #828282;
    }
    .header__text .main_btn {
        margin-bottom: 80px;
    }
    .header_stats {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .header_stats p{
        margin-bottom: 5px;
    }
    .header_stats .stats_num{
        color: #575757;
        font-weight: 600;
        font-size: 1.4rem
    }
    .header_stats .stats_label {
        font-size: 0.8rem;
    }

    .header__illustration img {
        width: 100%;
    }

.benefits {
    margin: 150px 10% 100px 10%;
    background-image: url("../img/container_bg.svg");
    background-size: cover;
}
    .benefits_head {
        display: flex;
        justify-content: space-between;
    }
    .benefits_head h1 {
        width: 50%;
        margin: 0;
        font-size: 2.5rem;
        color: #585858;
        line-height: 130%;
    }
    .benefits_head p {
        width: 40%;
        margin: 0;
        color: #828282;
        line-height: 190%;
    }
    
    .benefits_cards {
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;
    }

    .benefits_cards .card {
        border-radius: 50px;
        border: 1px solid #FFF0DA;
        background: #FFF;
        padding: 30px;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    .benefits_cards .card img {
        width: 30%;
        margin-bottom: 50px;
    }
    .benefits_cards .card h3 {
        color: #2B2B2B
    }
    .benefits_cards .card p {
        font-size: 0.8rem;
        color: #575757;
    }
    .benefits_cards .card .card_btn {   
        display: flex;
        background-color: #FFF;
        border: none;
        border-radius: 100px;
        padding: 10px 24px;
        color: #575757;
        font-weight: 600;
        font-size: 0.8rem;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }
    .benefits_cards .card .card_btn::after{   
        content: url(../img/Arrow.svg);
        /* position: absolute; */
        margin: 2px 0px 0px 10px;
        transition: 0.3s;
        transition-timing-function: ease-out;
    }

    .benefits_cards .card:hover {
        box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.20);
        border: 1px solid transparent;
    }
    .benefits_cards .card:hover .card_btn {
        color: #fff;
        background-color: #FB9333;
    }
    .benefits_cards .card:hover .card_btn::after {
        content: url(../img/Arrow_light.svg);
    }

.reviews {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 100px 10%;
    background: linear-gradient(180deg, #FFF6EA 0%, rgba(255, 232, 199, 0.50) 100%);
}
    .reviews_text h1 {
        font-size: 2.5rem;
        color: #333;
        line-height: 130%;
    }
    .reviews_text p, .subscribe .grey {
        font-size: 0.8rem;
        color: #575757;
    }
    .reviews_text .count {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
    }
    .reviews_text .count mark {
        font-size: 1rem;
        color: #CCC;
    }
    .reviews_btn {
        background-color: #FB9333;
        border: none;
        border-radius: 10px;
        padding: 18px 16px 16px 16px;
        margin-right: 14px;
    }
        .reviews_btn.light {
            background-color: #FFC87A;
        }

    .reviews_cards {
        display: flex;
        width: 130%;
    }   
        .reviews_cards .card {
            border-radius: 8px;
            margin-top: 50px;
            margin-right: 20px;
            padding: 90px 24px 32px 24px;
            background-color: #fff;
            position: relative;
        }
        .reviews_cards .card h3{
            margin-bottom: 10px;
            font-weight: 500;
        }
        .reviews_cards .card .years{
            font-size: 0.7rem;
        }
        .reviews_cards .card .comment{
            font-size: 0.8rem;
        }
        .reviews_cards .card:nth-child(1)::before {
            content: url(../img/review_1.png);
            position: absolute;
            top: -40px;
        }
        .reviews_cards .card:nth-child(2):after {
            content: url(../img/review_2.png);
            position: absolute;
            top: -40px;
        }
        .reviews_cards .card:nth-child(3):after {
            content: url(../img/review_3.png);
            position: absolute;
            top: -40px;
        }

.menu {
    text-align: center;
    margin-top: 100px;
}
    .menu p, .subscribe p {
        color: #FB9333;
    }
    .menu h1, .subscribe h1 {
        font-size: 2.5rem;
        color: #585858;
        line-height: 130%;
    }

    .menu_items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        margin: 0 10% 0 10%;
        position: relative;
    }
    .menu_items div {
        text-align: left;
    }
    .menu_items img {
        width: 100%;
    }
    .menu_items h3 {
        color: #FFF;
        font-weight: 500;
        position: absolute;
        top: 390px;
        margin-left: 40px;
    }
    .menu_items h1 {
        color: #FFF;
        font-size: 1.8rem;
        position: absolute;
        top: 420px;
        margin-left: 40px;
    }

.subscribe {
    height: 502px;
    margin: 150px 10% 100px 10%;
    padding-top: 50px;
    border-radius: 5%;
    background-image: url("../img/subscribe_bg.svg");
    background-size: cover;
    text-align: center;
}
    .subscribe div {
        display: inline-block;
        background-color: #fff;
        margin-top: 80px;
        border-radius: 100px;
    }
    .subscribe input[type=email] {
        height: 80px;
        width: 530px;
        padding-left: 30px;
        border: none;
        border-radius: 100px 0 0 100px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
    }
    .subscribe input[type=button] {
        background-color: #FB9300;
        color: #FFF;
        border: 10px solid #FFF;
        height: 84px;
        border-radius: 100px;
        padding: 0 30px 0 30px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
    }

.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 10%;
}
    .footer div {
        margin-right: 150px;
    }
    .footer div a {
        display: block;
        margin-bottom: 0px;
        text-decoration: none;
        color: #575757;
    }
    .footer_p {
        font-size: 1.1rem;
        font-weight: 800;
        color: #FB9300;
    }
    .footer div:nth-child(1) p{
        margin: 0 0 30px 0;
        color: #575757;
        font-size: 0.8rem;
    }
    .footer div:nth-child(4){
        margin: 0;
    } 
    .footer div:nth-child(4) div{
        display: flex;
        justify-content: space-between;
        margin: 0;
    } 
    .footer div:nth-child(3) {
        position: relative;
    }
    .footer div:nth-child(3) a {
        margin-left: 30px;
    }
    .footer div:nth-child(3) a:nth-child(2):before {
        content: url("../img/location_on.svg");
        position: absolute;
        left: -5px;
    }
    .footer div:nth-child(3) a:nth-child(4):before {
        content: url("../img/email.svg");
        position: absolute;
        left: -5px;
    }
    .footer div:nth-child(3) a:nth-child(6):before {
        content: url("../img/🔹\ Icon\ Color.svg");
        position: absolute;
        left: -2px;
    }
